<<<<<<< HEAD
header {
    background-color:#FF0000;
    height:70px;
    width:100%;
=======
<<<<<<< HEAD
header{background-color:#FF0000; 
	height:70px; 
	width: 100%;
=======
header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
>>>>>>> 426b7df6d1dd60eb050b933a5fa481c4193d8c93
>>>>>>> d3524e73cd337cac0bb520c936c7d4bab883c9fe
}
